<br />
<div class="container">
    <div style="height: 100px; background-color: #f2d900" class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col pt-3" style="color:white"><b><i class="fas fa-phone-alt"></i> Telefon nomrəsi</b><br /><i class="fas fa-clock"></i> Hər gün: 09:00-20:00</div>
    </div>
    <div style="background-color: #323232;" class="row">
        <div class="col">
            <img src="~/image/2017_toyota_prius_plugi-in_ftq.jpg" class="card-img-top m-2" style="height:500px">
        </div>
        <div class="col row p-2">
            <div class="row row-cols-1 row-cols-md-4 g-4">
                @*@foreach (var item in Model.Tb_Images)
        {
            <div class="col">
                <div class="card">

                    <img src="~/image/2017_toyota_prius_plugi-in_ftq.jpg" class="card-img-top" style="height:100px">

                </div>
            </div>
        }*@
                <img src="~/image/2017_toyota_prius_plugi-in_ftq.jpg" class="card-img-top" style="height:100px">

            </div>
        </div>
    </div>

    <br />


    <div class="row">
        <div class="col-4 text-center" style="background-color: #ca1016">
            <h2 style="color:white"><b>@*@Model.ADS_Models.FirstOrDefault().Price*@ 12345<sup>@*@ViewBag.Currency*@ azn</sup></b></h2>
        </div>
        <div class="col-8">
            <h2>@*@ViewBag.Brand @ViewBag.Model, @Model.ADS_Models.FirstOrDefault().Motor_Volume L, @Model.ADS_Models.FirstOrDefault().Year*@ il,<br /><b>@*@Model.ADS_Models.FirstOrDefault().Distance*@ km </b></h2><h3><i class="fas fa-user-alt"></i>@*@Model.ADS_Models.FirstOrDefault().Name*@</h3>
        </div>
    </div>

    <br />
    <hr />
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 row">
            <div class="col">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Şəhər</b></li>
                    <li class="list-group-item"><b>Marka</b></li>
                    <li class="list-group-item"><b>Model</b></li>
                    <li class="list-group-item"><b>Buraxılış ili</b></li>
                    <li class="list-group-item"><b>Ban növü</b></li>
                    <li class="list-group-item"><b>Rəng</b></li>
                    <li class="list-group-item"><b>Mühərrik</b></li>
                    <li class="list-group-item"><b>Mühərrikin gücü</b></li>
                    <li class="list-group-item"><b>Yanacaq növü</b></li>
                    <li class="list-group-item"><b>Yürüş</b></li>
                    <li class="list-group-item"><b>Sürətlər qutusu</b></li>
                    <li class="list-group-item"><b>Ötürücü</b></li>
                    <li class="list-group-item"><b>Yeni</b></li>
                    <li class="list-group-item"><b>Qiymət</b></li>
                </ul>
            </div>
            <div class="col">
                <ul class="list-group list-group-flush">
                    @*<li class="list-group-item">@ViewBag.City</li>
        <li class="list-group-item">@ViewBag.Brand</li>
        <li class="list-group-item">@ViewBag.Model</li>
        <li class="list-group-item">@Model.ADS_Models.FirstOrDefault().Year</li>
        <li class="list-group-item">@ViewBag.Ban</li>
        <li class="list-group-item">@ViewBag.Color</li>
        <li class="list-group-item">@ViewBag.MotorVolume L</li>
        <li class="list-group-item">@Model.ADS_Models.FirstOrDefault().Motor_Power a.g.</li>
        <li class="list-group-item">@ViewBag.Fuel</li>
        <li class="list-group-item">@Model.ADS_Models.FirstOrDefault().Distance km</li>
        <li class="list-group-item">@ViewBag.SpeedBox</li>
        <li class="list-group-item">@ViewBag.Transmission</li>
        <li class="list-group-item">@(Model.ADS_Models.FirstOrDefault().Distance==0?"Bəli":"Xeyr")</li>
        <li class="list-group-item text-danger"><b>@Model.ADS_Models.FirstOrDefault().Price @ViewBag.Currency</b></li>*@
                    <li class="list-group-item">ViewBag.City</li>
                    <li class="list-group-item">ViewBag.Brand</li>
                    <li class="list-group-item">ViewBag.Model</li>
                    <li class="list-group-item">Model.ADS_Models.FirstOrDefault().Year</li>
                    <li class="list-group-item">ViewBag.Ban</li>
                    <li class="list-group-item">ViewBag.Color</li>
                    <li class="list-group-item">ViewBag.MotorVolume L</li>
                    <li class="list-group-item">Model.ADS_Models.FirstOrDefault().Motor_Power a.g.</li>
                    <li class="list-group-item">ViewBag.Fuel</li>
                    <li class="list-group-item">Model.ADS_Models.FirstOrDefault().Distance km</li>
                    <li class="list-group-item">ViewBag.SpeedBox</li>
                    <li class="list-group-item">ViewBag.Transmission</li>
                    <li class="list-group-item">(Model.ADS_Models.FirstOrDefault().Distance==0?"Bəli":"Xeyr")</li>
                    <li class="list-group-item text-danger"><b>Model.ADS_Models.FirstOrDefault().Price ViewBag.Currency</b></li>


                </ul>
            </div>

        </div>
        <div class="col-4">
            <ul style="list-style-type:disc;">
                @*@if (Model.ADS_Models.FirstOrDefault().Allow_Wheels == true)
                {
                    <li>Yüngül lehimli disklər</li>
                }
                @if (Model.ADS_Models.FirstOrDefault().ABS == true)
                {
                    <li>ABS</li>
                }
                @if (Model.ADS_Models.FirstOrDefault().Lyuk == true)
                {
                    <li>Lyuk</li>
                }
                @if (Model.ADS_Models.FirstOrDefault().Rain_Sensor == true)
                {
                    <li>Yağış sensoru</li>
                }
                @if (Model.ADS_Models.FirstOrDefault().Central_Closure == true)
                {
                    <li>Mərkəzi qapanma</li>
                }
                @if (Model.ADS_Models.FirstOrDefault().Park_Radar == true)
                {
                    <li>Park radarı</li>
                }
                @if (Model.ADS_Models.FirstOrDefault().Condisioner == true)
                {
                    <li>Kondisioner</li>
                }
                @if (Model.ADS_Models.FirstOrDefault().Seat_Heating == true)
                {
                    <li>Oturacaqların isidilməsi</li>
                }
                @if (Model.ADS_Models.FirstOrDefault().Leather_Salon == true)
                {
                    <li>Dəri salon</li>
                }
                @if (Model.ADS_Models.FirstOrDefault().Xenon_Lamps == true)
                {
                    <li>Ksenon lampalar</li>
                }
                @if (Model.ADS_Models.FirstOrDefault().Rear_Camera == true)
                {
                    <li>Arxa görüntü kamerası</li>
                }
                @if (Model.ADS_Models.FirstOrDefault().Side_Curtains == true)
                {
                    <li>Yan pərdələr</li>
                }
                @if (Model.ADS_Models.FirstOrDefault().Seat_Ventilation == true)
                {
                    <li>Oturacaqların ventilyasiyası</li>
                }*@
            </ul>
            <hr />
            @*@Model.ADS_Models.FirstOrDefault().Note*@
        </div>
    </div>
</div>